{#
/**
 * @file
 * Default theme implementation for a fieldcompose items.
 *
 * fieldcompose-items.html.twig
 *
 * Available variables:
 * - items: Contains the following properties: id, value and title if available.
 *
 * Can be preprocessed with template_preprocess_fieldcompose_items()
 *
 * @ingroup themeable
 */
#}

{% for item in items %}
  <div class="fieldcompose__item">
    <label class="fieldcompose__item__id">{{ item.id }}</label>
    {% if item.title %}
      <div class="fieldcompose__item__title">{{ item.title }}</div>
    {% endif %}
    <div class="fieldcompose__item__value">{{ item.value }}</div>
  </div>
{% endfor %}



